*{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
.elements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intro{
    border: 1px solid blue;
    width: 400px;
    text-align: center;
    align-items: center;
}
.button{
    border: 1px solid blue;
    width: 400px;
}
.submit{
    margin-top: 30px;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: cadetblue;
}
ul li{
 text-decoration: none;
 list-style: none;
}
.movies{
    border: 2px solid blue;
}
ol{
   list-style-type: upper-roman;
}
.colors>li:nth-child(odd){
    background-color: lightgreen;
}
.colors>li:nth-child(even){
    background-color: lightpink;
}
.links{
    list-style: none;
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.links li:hover{
    background-color: chocolate;
}
ul li a{
    text-decoration: none;
}
.links a{
    color: black;
    display: block;
}
.dd{
    position: relative;
    display: block;
    cursor: pointer;
}
.list{
    position: absolute;
    display: none;
}
.list a{
    display: block;
    padding: 5px;
    background-color: lightcoral;
    color: darkcyan;
    border: 1px solid brown;
}
.dd:hover .list{
    display: block;
}